/********************************** 공통 **********************************/
/********************************** 공통 **********************************/
/********************************** 공통 **********************************/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

:root {
    --swiper-pagination-bullet-size: 6px;
        --color-primary: #9c836a;
        --color-secondary: #857b71;
}


/**************************************/
/**      태블릿 이상 (min-width:768px)    **/
/**************************************/
@media screen and (min-width:768px) {





    /********************************** 태블릿:공통 **********************************/
    /********************************** 태블릿:공통 **********************************/
    /********************************** 태블릿:공통 **********************************/



    html,
    body {
        font-size: 12px;
        font-family: 'Noto Sans KR', sans-serif;
        font-style: normal;
        font-weight: 100 900;
        font-display: swap;
        scroll-behavior: auto;
    }

    body>.container {
        margin-top: 118px;
        padding-top: 40px;
    }

    .innerBox {
        margin: 0 auto;
    }

    /* 버튼 기본 스타일 -> 버튼별로 padding줘야함 */
    a.btn {
        display: inline-block;
        border-width: 1px;
        border-style: solid;
        transition: background-color 200ms linear, color 200ms linear;
    }

    a.btn span.btnText {
        display: block;
        height: 100%;
    }

    .btnLnPr {
        border-color: var(--color-primary);
        color: var(--color-primary);
    }

    a.btn.btnBgPr,
    a.btn.btnLnPr:hover {
        background-color: var(--color-primary);
        color: #fff;
    }

    a.btn.btnBgPr:hover{
        background-color: #92775d;
    }

    a.btn.small{
        height: 32px;
        line-height: 32px;
        padding: 0 24px;
    }
    
    

    a.solidBtn {
        display: block;
        border: 1px solid var(--color-primary);
        color: var(--color-primary);
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: 50px;
    }

    p.solidBtn {
        display: block;
        width: 100px;
        height: 50px;
    }
    .swiper-pagination-bullet-active{
        background-color : var(--color-primary) !important;
        
    }

    /****************************** 태블릿:헤더 ******************************/
    /****************************** 태블릿:헤더 ******************************/
    /****************************** 태블릿:헤더 ******************************/
    header {
        text-transform: uppercase;
        color: white;
        position: fixed;
        top: 0;
        z-index: 9;
    }


    /** 태블릿:헤더:subBar: 서브페이지 카테고리바 **/

    header .subBar {
        /* position: fix; */
        display: flex;
        top: auto;
        flex-flow: row nowrap;
        background-color: white;

        border-bottom: 1px solid rgb(230, 227, 223);
        height: 68px;
        margin: 0;
        padding: 0 0 0 16px;
        left: 0;
        right: 0;
        top: 0;
        z-index: 5;
        transition: top 0.3s ease;
        justify-content: flex-start;
    }

    header .subBar.slide {
        top: 48px;
    }

    header .subBar .right {
        display: none;
    }

    header .subBar h2.category {
        background-color: transparent;
        margin: auto 20px;
    }

    /* subBar 카테고리 이미지 */
    header .subBar h2.category a#cimer {
        background: url('../resource/img/cimer/sub_gnb5.png');
        display: block;
        width: 80px;
        height: 64px;
        text-indent: -9999px;
    }

    header .subBar h2.category a#wonderbox {
        background: url('../resource/img/wonderbox/sub_gnb7.png');
        display: block;
        width: 94px;
        height: 64px;
        text-indent: -9999px;
    }

    header .subBar h2.category a#hotels {
        background: url('../resource/img/hotel/sub_gnb1.png');
        display: block;
        width: 136px;
        height: 64px;
        text-indent: -9999px;
    }


    header .subBar ul.lnb {
        position: relative;
        /* border : 1px solid seagreen; */
        top: 0px;
        background-color: transparent;
        height: auto;
        width: fit-content;
        overflow-x: scroll;
        max-width: 100%;
    }

    .subBar ul.lnb::after {
        display: none;
    }


    .subBar ul.lnb li {
        margin-right: 30px;
        padding-bottom: 0;
    }


    .subBar ul.lnb li.active::after {
        display: none;
    }

    .subBar ul.lnb li a {
        padding: 0;
        font-weight: 500;
    }


    /** 태블릿: 헤더 : GNB + SNB **/
    header .pcHeader{
        position: relative;
    }

    header .pcMenu {
        box-sizing: border-box;
        padding-left: 16px;
        /* margin-bottom: 10px; */
        width: 100%;
        height: 48px;
        background-color: rgba(33, 32, 30, 0.95);
        /* background-color: #21201e; */
        height: fit-content;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        position: absolute;
        top: 0px;
        transition: top 0.3s ease;
        z-index: 7;
    }


    header .pcMenu.hide {
        top: -48px;
    }



    /* 태블릿: 헤더 : 헤더 스크롤 */
    header .pcMenu.on {
        /* background-color: rgba(33, 32, 30, 0.95); */
        /* border-bottom: 1px solid rgb(51, 51, 51); */
    }

    header .pcMenu.on::after {
        content: " ";
        width: calc(100% - 78px);
        left: 81px;
        height: 1px;
        background-color: rgba(160, 160, 160, 0.174);
        position: absolute;
        top: 48px;
    }

    header .pcMenu>nav.gnb {
        /* float: left; */
        box-sizing: border-box;
        /* display: flex; */
        display: inline-block;


    }

    header .pcMenu nav.gnb h1.logo {
        display: inline-block;
        margin: 0px 20px 0px;
        /* float: left; */
        width: 22px;
        height: 23px;
        background: url('../resource/img/icon_logo.png');
        background-size: 100%;
        vertical-align: middle;
    }

    /* depth1 */
    header .pcMenu>nav.gnb>ul.category {
        display: inline-flex;
        color: #ffffffa6;
        
        
    }

    header .pcMenu>nav.gnb>ul.category>li {
        display: inline-block;
        /* margin-right: 20px; */
        padding: 0 10px;
        cursor: pointer;
        /* border : 1px solid yellowgreen; */
        line-height: 48px;
        box-sizing: content-box;
        position: relative;
    }

    header .pcMenu>nav.gnb>ul.category>li:not(:last-child):hover {
        color: var(--color-primary);
        /* position: relative; */
    }


    header .pcMenu>nav.gnb>ul.category>li:not(:last-child):hover::after {
        content: " ";
        border-bottom: 2px solid var(--color-primary);
        width: calc(100% - 20px);
        display: block;
        /* position: absolute; */
        position: absolute;
        top: 46px;
    }

    header .pcMenu>nav.gnb>ul.category>li>ul.lnb {
        display: none;
    }

    header .pcMenu>nav.gnb>ul.category>li:last-child::before {
        content: "|";
        margin-right: 10px;
    }


    /* 태블릿 : 2depth */

    header .pcMenu>nav.gnb>ul.category>li.active>ul.lnb{
        display: none;
        background-color : rgb(0, 9, 131);
    }
    
    header .pcMenu>nav.gnb>ul.category>li.active>ul.lnb.off {
        display: block;
        background-color: white;
        position: absolute;
        /* width: 100%; */
        /* height: 200px; */
        left: 0;
        /* transform: translateY(21px); */
        padding: 20px 40px;
        /* z-index: -2; */
        overflow: hidden;
        box-sizing: border-box;
        opacity: 0;
        transition: opacity 3s ease;
    }

    header .pcMenu>nav.gnb>ul.category>li.active>ul.lnb.on {
        display: block;
        width: 100%;
        position: absolute;
        padding-top: 30px;
        z-index: 999;
        justify-content: flex-start;
        opacity:1;
    }

    /*      백업
    header .pcMenu>nav.gnb>ul.category>li.active>ul.lnb.on {
        display: flex;
        width: 100%;
        position: absolute;
        padding-top: 30px;
        z-index: 999;
        justify-content: flex-start;
        opacity:1;
    }
 */

    header .pcMenu>nav.gnb>ul.category>li.active>ul.lnb.on>li {
        display: block;
        font-weight: 500;
        /******* mr : 서브메뉴 생기기 전까지 임시로 ***********/
        margin-right: 40px;
        padding-bottom: 1.2rem;
        color: whitesmoke;
        border : 1px solid skyblue;
        
    }

    header .pcMenu>nav.gnb>ul.category>li.active>ul.lnb.on>li:hover {
        color: var(--color-primary);
    }

    header .pcMenu>nav.gnb>ul.category>li.active>ul.lnb.on>li:active {
        color: var(--color-primary);
        text-shadow: 0 0 px #fff3c969;
    }

    header .pcMenu>nav.gnb>ul.category>li>ul.lnb>li:hover {
        text-shadow: 0px 0px 8px black;
    }





    /* gnb 2depth 배경색 */
    header .depth2bg {
        width: 100%;
        height: 0px;
        background-color: rgba(33, 32, 30, 0.95);
        /* display: none; */
        z-index: 6;
        top: 48px;
        position: relative;
        transition: height 0.4s ease;
        overflow: hidden;
    }

    /* gnb 2depth = lnb 배경 */
    header .depth2bg.on {
        /* display: block; */
        /* position: relative; */
        /* top: -10px; */
        height: 250px;
    }

    /* lnb 모음 */
    header .depth2bg .lnbWrapper{
        background-color : rgba(173, 216, 230, 0.164);
        /* width: calc(100% - 88px); */
        width: fit-content;
        height: 100%;
        position: relative;
        margin-left: 88px;
        box-sizing: border-box;
    }
    
    /* ul.gnb > li > ul.lnb 각각 */
    header .depth2bg .lnbWrapper ul.lnb{
        padding: 40px;
        border : 3px solid lightblue;
        display: none;
        
    }

    /* ul.gnb > li > ul.lnb > */
    header .depth2bg .lnbWrapper ul.lnb > li{
        border : 1px solid black;
        padding-right: 50px;
    }

    header .depth2bg .lnbWrapper ul.lnb.on{
        display: flex;
    }
    




    /* 태블릿 : 헤더 : 오른쪽상단바 */
    header .pcMenu>ul.snb {
        display: inline-block;
        /* position: absolute; */
        /* margin: 5px 5px 0 0; */
        right: 0;
    }

    header .pcMenu>ul.snb>li {
        display: inline-block;
        margin-right: 16px;
        font-size: 10px;
        line-height: 48px;
        font-weight: 200;
    }

    header .pcMenu>ul.snb>li>a:hover {
        color: var(--color-primary);
    }

    header .pcMenu>ul.snb>li:last-of-type::before {
        content: "|";
        color: #ffffffa6;
        margin-right: 6px;
    }


    header .pcMenu>ul.snb select {
        background-color: transparent;
        /* 배경을 완전히 투명하게 설정 */
        border: none;
        /* 경계를 완전히 투명하게 설정 */
        color: white;
        /* 글자 색상을 흰색으로 설정 */
        outline: none;
        /* 포커스 시 나타나는 기본 테두리 제거 */
        cursor: pointer;
        font-size: 10px;
        margin-right: 20px;
    }


    /* 헤더 More버튼 */
    .pcMenu .sm-snb {
        display: none;
    }

    .pcMenu .sm-snb.open {
        display: block;
        position: absolute;
        top: 48px;
        right: 80px;
        background-color: #333;
    }

    .pcMenu .sm-snb.open * {
        list-style: none;
    }

    .pcMenu .sm-snb.open li {
        padding: 5px 15px;
    }

    .pcMenu .sm-snb.open li:not(:last-of-type) {
        border-bottom: 1px solid #272624;
    }

    .pcMenu .sm-snb.open li:hover {
        background-color: #21201ead;
    }

    .pcMenu .sm-snb.open li a {
        display: block;
        width: 100%;
        height: 100%;
    }

    .pcMenu .sm-snb.open li a:active {
        text-shadow: 0 0 2px #dbdbdbd0;
    }

    .pcMenu .sm-snb.open li a {
        font-weight: 200;

    }

    .pcMenu .more-toggle {
        cursor: pointer;
        font-size: 11px;
        display: inline-block;
        margin-right: 8px;
    }

    .mMenu>.upper>.top>.closeBtn {
        background: url("../resource/img/btn_pop_close.png") no-repeat center;
        /* background-size: 18px; */
        width: 18px;
        height: 17px;
        /* padding: 11px; */
        box-sizing: border-box;
        /* float: right; */
        margin-right: 15px;
        cursor: pointer;
        display: block;
    }



    /**************** 태블릿 : page,contents공통  *****************/
    /**************** 태블릿 : page,contents공통  *****************/
    /**************** 태블릿 : page,contents공통  *****************/



    section.page>.innerBox {
        padding: 0 0 40px 0;
    }

    section.contents>.innerBox {
        padding: 0 0 60px 0;
    }





    /********************* 태블릿 : page *********************/
    /********************* 태블릿 : page *********************/
    /********************* 태블릿 : page *********************/

    /* section.page{ */
    /* padding-bottom: 16px; */
    /* padding: 60px auto;; */
    /* } */
    /*     section.page .innerBox {
        padding: 0;

    } */
    section.page .innerBox h3.title {
        color: var(--color-primary);
        display: block;
        font-size: 16px;
        line-height: 22px;
        padding-bottom: 13px;
    }

    section.page .innerBox .desc.pc {
        display: block;
        font-size: 28px;
        font-weight: 100;
        color: rgb(102, 102, 102);
        line-height: 40px;
    }

    section.page .innerBox .desc.m {
        display: none;
        font-size: 20px;
        color: #999;

        font-weight: 300;
        line-height: 24px;
        word-break: break-all;
    }





    section.contents,
    section.page {
        padding: 0 60px;
        width: auto;
    }


    /********************* 태블릿 : contents공통 *********************/
    /********************* 태블릿 : contents공통 *********************/
    /********************* 태블릿 : contents공통 *********************/



    /******* 태블릿 : contents공통 : 탭 양식 ********/
    /******* 태블릿 : contents공통 : 탭 양식 ********/
    .tabs ul.tabs-nav {
        /* padding-bottom: 60px; */
        /* margin-bottom: 48px; */
        height: 48px;
        margin: 0;
    }

    .tabs ul.tabs-nav li {
        border: 1px solid rgb(230, 227, 223);
        border-left-width: 1px;
        border-right-width: 0px;
        border-bottom-color: var(--color-primary);
    }

    .tabs ul.tabs-nav li.ui-tabs-active {
        border-right-width: 1px;
        border-color: var(--color-primary);
    }

    .tabs ul.tabs-nav li.ui-tabs-active+li {
        border-left-width: 0px;
    }

    .tabs ul.tabs-nav li:last-child {
        border-right-width: 1px;
    }


    .ui-tabs-anchor {
        line-height: 48px;
    }

    .tabs ul.tabs-nav li:not(.ui-tabs-active) .ui-tabs-anchor {
        font-weight: normal;
    }


    /******* 태블릿 : contents공통 : 탭 양식 > 탭 하부 섹션 ********/
    /******* 태블릿 : contents공통 : 탭 양식 > 탭 하부 섹션 ********/
    .tabs section>.innerBox {
        padding: 0 0 40px 0;
    }




    /******* 태블릿 : contents공통 : Swiper 캐러셀 양식 ********/
    /******* 태블릿 : contents공통 : Swiper 캐러셀 양식 ********/

    /* swiper-container */
    .swiper.car {
        aspect-ratio: auto;
    }

    .swiper.car .swiper-wrapper {
        height: 40vh;
        aspect-ratio: auto;
    }

    .swiper.car .swiper-slide p.fullsize-img-wrap {
        width: 100%;
        height: 100%;
    }

    .swiper-controller {
        position: relative;
        display: flex;

        justify-content: space-between;
        align-items: center;
        z-index: 4;
        /* padding-top: 10px; */
        margin-top: 15px;
    }

    .swiper .swiper-pagination-bullet {
        background-color: rgb(198, 198, 198);
        opacity: 0.8;
        /* transform: scale(0.9); */
        width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 6px));
        height: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 6px));
    }

    .swiper-controller .swiper-pagination {
        position: relative;
        /* border: 1px solid skyblue; */
        top: 0;
        visibility: visible;
        padding: 10px 0;
    }

    .swiper-pagination-bullet-active {
        background-color: #9c836a;
    }

    .swiper-controller .swiper-prev {
        /* border: 1px solid red; */
        height: fit-content;
        color: #9c836a;
        cursor: pointer;
        display: block;
        background: url('../resource/img/bg_arrow_left_main.png') no-repeat 0px center;
        background-size: 32px;
        width: 34px;
        height: 17px;
        padding: 10px 0 10px 0px;
        background-clip: content-box;
        box-sizing: content-box;
        z-index: 4;
    }

    .swiper-controller .swiper-next {
        /* border: 1px solid red; */
        /* height: fit-content; */
        color: #9c836a;
        cursor: pointer;
        display: block;
        background: url('../resource/img/bg_arrow_right_main.png') no-repeat 0px center;
        background-size: 32px;
        width: 34px;
        height: 17px;
        padding: 10px 0px 10px 0;
        background-clip: content-box;
        z-index: 4;
        box-sizing: content-box;
    }

    .roomtype#RoomDeluxe .swiper-controller .swiper-next {
        width: 34px;
        height: 17px;
    }

    /* 탭페이지 > 캐러셀 하단 설명부분 */
    .tabs-page .info .subTitle.facil {
        display: block;
    }


    /******* 태블릿 : contents공통 : accoList : 아코디언양식(jquery ui) ********/
    /******* 태블릿 : contents공통 : accoList : 아코디언양식(jquery ui) ********/
    ul {
        padding-left: 0;
    }

    ul.accoList {
        /* display: flex; */
        /* flex-flow: row wrap; */
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        /* border: 1px solid red; */
        column-gap: 20px;
        row-gap: 20px;
    }

    ul.accoList>h3 {
        display: none;
    }

    ul.accoList .acco-body {
        padding-top: 0;
    }

    .fcList .card-title {
        display: block;
        color: var(--color-primary);
        padding: 16px 0 0px;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 0;
    }


    /**************** 태블릿 : contents : hotel 객실 리스트 ****************/
    /**************** 태블릿 : contents : hotel 객실 리스트 ****************/
    /**************** 태블릿 : contents : hotel 객실 리스트 ****************/
    section.contents#hotel_room_list {
        margin-top: 0;
    }

    /* 객실리스트 : 이미지스와이퍼 + 텍스트 스와이퍼 묶음 */
    section.roomtype * {
        box-sizing: border-box;
    }

    section.roomtype {
        margin-bottom: 30px;
    }

    .roomtype .swiperBox {
        /* min-height: 400px; */
        /* max-height: 463px; */
        height: 350px;
    }

    .horzCardCaro {
        display: flex;
        border: 1px solid rgb(213, 202, 190);
        overflow: hidden;
    }





    /* 객실리스트 : 이미지 슬라이드 부분 */
    /* 이미지 크기 결정요소 */
    .roomtype .swiper-img-container {
        /* border : 5px solid hotpink; */
        /* height: 40vh; */
        height: 350px;
        display: flex;
        width: calc(100% - 250px);
        /* min-height: 400px; */

        /* height: 100%; */

    }

    .roomtype .swiper-img-wrapper {
        /* border : 5px solid darkgreen; */
        display: flex;
        height: 100%;
    }



    .roomtype .img-wrap {
        height: 100%;
    }

    .roomtype .img-wrap img {
        height: 100%;
        object-fit: cover;
    }


    .roomtype .swiper-img-pagination {
        display: none;
    }


    .roomtype .swiper-slide {
        /* width: calc(100% - 250px); */
        width: 100%;
        height: 100%;
        border-width: 0;

    }

    .roomtype .card-body {
        display: none;
    }

    .roomtype .img-wrap {
        width: 100%;
        height: 100%;
    }












    /* 객실리스트 : 타입별 제목 & 설명 */
    .roomtype-header h4.roomtype-title {
        font-size: 16px;
        margin: 0;
        color: #333
    }

    .roomtype-header>p.desc {
        display: block;
        color: #999;
        padding: 2px 0 13px;
    }





    /* 객실리스트 : 우측 텍스트 박스 */
    .roomtype .card-body {
        display: none;
    }

    .roomtype .swiper-text-container {
        display: block;
        width: 250px;
        /* min-height: 400px; */
    }

    .roomtype ul.swiper-wrapper {
        display: flex;
        /* border : 3px solid red; */
        margin: 0;
    }

    .roomtype li.swiper-slide {
        height: 100%;
        padding: 30px 20px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        box-sizing: border-box;
    }



    /* 객실리스트 : 우측 텍스트 박스 : 글자 세부 스타일 */
    .roomtype li.swiper-slide .card-title {
        font-size: 24px;
        color: var(--color-primary);
        font-weight: 300;
        /* margin-bottom: 10px; */
        padding-bottom: 10px;
        flex: 0 0 auto;
        margin: 0;
    }

    .roomtype li.swiper-slide p.card-text {
        line-height: 24px;
        /* font-size: 12px; */
        color: var(--color-primary);
        flex: 0 0 auto;
    }

    .roomtype li.swiper-slide p.card-text::after {
        content: " ";
        height: 1px;
        width: 100%;
        display: block;
        background-color: #f4f2ef;
        position: relative;
        top: 20px;

    }

    .roomtype li.swiper-slide dl {
        margin-top: 20px;
        padding-top: 10px;
        /* background-color : pink; */
        line-height: 26px;
        flex: 1 1 auto;
    }

    .roomtype li.swiper-slide dl dt {
        display: inline-block;
        width: 35%;
        /* border : 1px solid red; */

    }

    .roomtype li.swiper-slide dl dd {
        display: inline-block;
        width: 60%;
        color: #999;
        /* border : 1px solid red; */

    }

    .roomtype li.swiper-slide dl dd span.pr {
        color: #999;
    }

    /* 객실리스트 : 우측 텍스트 박스 : 상세보기버튼 */
    .roomtype a.btn {
        padding: 8px 20px;
        flex: 0 0 auto;
        align-self: flex-start;
    }

    .roomtype .swiper-controller {
        /* width: 100%; */
        /* bottom: 0; */
        /* height: 30px; */
        /* position: relative; */
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* z-index: 9999; */
        /* padding-top: 10px; */
    }








    /********************* 태블릿 : footer *********************/
    /********************* 태블릿 : footer *********************/
    /********************* 태블릿 : footer *********************/
    .footer {
        background-color: #21201e;
        padding:0px;
    }

    .footer ul.btns {
        display: none;
    }

    .footer .upside,
    .footer .downside {
        background-color: transparent;
        padding: 0;
    }




    footer .innerBox {
        padding: 40px 20px;
        margin: 0 auto;
    }

    .footer .upside .innerBox {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-start;
        /* padding: 20px 40px; */
    }

    /*** Customer Center ***/
    .footer .upside .innerBox .cusCent {
        display: block;
        flex-basis: 30%;
        margin-right: 30px;
    }

    .footer .upside .innerBox .cusCent h4 {
        color: var(--color-primary);
        font-family: 'roboto';
        margin-bottom: 0.8rem;

    }

    .footer .upside .innerBox .cusCent dl.cc {
        line-height: 1.6rem;
    }

    .footer .upside .innerBox .cusCent dt {
        font-weight: 800;
        flex-basis: 35%;
    }

    .footer .upside .innerBox .cusCent dd {
        flex-basis: 65%;
    }

    .footer .upside .innerBox .cusCent dd:last-of-type {
        text-decoration: underline;
    }


    /*** e-컨시어지 ***/
    .footer .upside .innerBox .concierge {
        flex-basis: 40%;
        margin-right: 30px;
        /* border: 1px solid red; */
    }

    .footer .upside .innerBox .concierge p.desc {
        word-break: keep-all;
    }

    .footer .upside .innerBox .concierge .qrBox a:first-child {
        margin-right: 5px;
    }





    /*** link(Family Site + SNS) ***/
    .footer .upside .innerBox .link {
        flex-basis: 25%;
        flex-shrink: 1;
        display: block;
        /* border: 1px solid red; */
        height: auto;
        margin-top: 0;
    }

    .footer .upside .innerBox .link p.familySite {
        background-color: #272624;
        border-bottom: none;
        /* height: 50px; */
        margin: 0 auto 30px;
    }

    .footer .upside .innerBox .link p.familySite a {
        text-decoration: none;
        padding: 10px 0 10px 23px;
    }

    .footer .upside .innerBox .link p.familySite a::after {
        content: " ";
        width: 10px;
        height: 6px;
        background: url('../resource/img/bg_footer_arrow.gif') no-repeat center center/cover;
        /* display: inline-block; */
        float: right;
        position: relative;
        transition: transform 0.2s ease;
        margin: 5px 23px;
    }




    .footer .upside .innerBox .link .familyBox {
        position: absolute;
        display: none;
        /* background-color: greenyellow; */
        /* bottom: 30px; */
        height: auto;

    }

    .footer .upside .innerBox .link .familyBox.on {
        display: block;
    }



    .footer .upside .innerBox .link p.sns span.subtle {
        display: inline-block;
        margin-right: 40px;
        font-weight: 700;
        margin-left: 23px;
    }

    .footer .upside .innerBox .link p.sns a {
        vertical-align: middle;
        width: 18px;
        height: 18px;
    }

    .footer .upside .innerBox .link p.sns a:nth-of-type(1) span.icon {
        width: 18px;
        height: 18px;
        background: url('../resource/img/img_sns.svg') no-repeat;
        background-size: 247.5px 18px;
        background-position-x: -42.75px;
        background-position-y: 0px;
        margin-right: 12px;
    }

    /* -9-48 */

    .footer .upside .innerBox .link p.sns a:nth-of-type(2) span.icon {
        width: 18px;
        height: 18px;
        background: url('../resource/img/img_sns.svg') no-repeat;
        background-size: 247.5px 18px;
        background-position-x: -78.75px;
        background-position-y: 0px;

    }


    /*** footer > downside ***/
    .footer .downside .innerBox.mobile,
    .footer .downside .midBox {
        display: none;
    }

    .footer .downside {
        border-top: 1px solid #ffffff33;
    }

    .footer .downside .innerBox.pc {
        display: block;
        padding: 40px 20px;
        font-size: 1rem;
        ;
    }

    .footer .downside .innerBox.pc * {
        text-decoration: none;
    }

    .footer .downside .innerBox.pc .awards {
        height: 100%;
        float: right;
    }


    .awards .forbes {
        width: 50px;
        height: 50px;
        display: inline-block;
        background: url('../resource/img/forbes_2024.svg') no-repeat center center/cover;
        margin-right: 5px;
        margin-left: 20px;

    }

    .awards .icr {
        width: 50px;
        height: 50px;
        display: inline-block;
        background: url('../resource/img/icon_icr.svg') no-repeat center center/cover;

    }


    .footer .downside .innerBox.pc .awards::after {
        content: " ";
        clear: both;
        display: block;
    }

    .footer .downside .innerBox.pc ul.fnb * {
        color: #ffffffa6;
    }

    .footer .downside .innerBox.pc ul.fnb {
        display: flex;
        margin-bottom: 15px;
    }

    .footer .downside .innerBox.pc ul.fnb li:not(:last-child)::after {
        content: " ";
        display: inline-block;
        width: 1px;
        height: 50%;
        margin: 0 3px;
        background-color: #ffffff33;

    }


    .footer .downside .innerBox.pc p.company * {
        color: #ffffff33;
        font-size: 0.9rem
    }








    /********************* 태블릿 : overview *********************/
    /********************* 태블릿 : overview *********************/
    /********************* 태블릿 : overview *********************/

    /*********** 태블릿 : overview : full-screen ***********/
    /*********** 태블릿 : overview : full-screen ***********/
    /* 전체 화면 이미지를 포함한 섹션 스타일 */

    /* overview : full-screen 섹션 위치 */
    .full-screen {
        position: relative;
        width: 100%;
        /* height: 100vh; 헤더 높이 고려하여 조정 */
        height: calc(100vh - 117px);
        /* 화면 높이에 맞춤 */
        overflow: hidden;
        top: -40px;
    }

    /* overview : 이미지 컨테이너 위치 */
    .full-screen .mainview {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        /* 이미지 비율을 유지하며 전체를 채움 */
        transform: translate(-50%, -50%);
        background: #fff no-repeat center center;
        background-size: cover;
        box-sizing: border-box;
    }

    /* overview : 이미지 위 black 그라디언트(텍스트 잘 보이도록) */
    .full-screen .mainview::after {
        content: " ";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4) 5%, transparent);
        z-index: 1;
    }

    /* overview : 서브페이지 카테고리명 */
    .full-screen h2.category {
        font-family: 'Roboto', 'Noto Sans', sans-serif;
        font-size: 50px;
        font-weight: 500;
        line-height: 60px;
        vertical-align: baseline;
        color: #fff;
        position: absolute;
        top: auto;
        bottom: calc(50% + 10px);
        left: 10%;
    }

    /* overview : 서브페이지 메인뷰 카테고리 설명 */
    .full-screen p.desc {
        font-size: 14px;
        line-height: 24px;
        text-shadow: rgba(0, 0, 0, 0.6) 0px 0px 10px;
        vertical-align: baseline;
        color: #fff;
        position: absolute;
        top: calc(50% + 10px);
        left: 10%;
        padding: 0;
        font-weight: 500;
    }

    .full-screen p.desc span.br {
        display: inline;
    }


    /* overview : 서브페이지 카테고리 설명 */


    /*********** 태블릿 : overview : hotel : 캐러셀 ***********/
    /*********** 태블릿 : overview : hotel : 캐러셀 ***********/

    #hotel.contents .hotelOverviewCaro:not(:last-of-type) {
        margin-bottom: 150px;
    }


    /* 캐러셀 박스 =  .horzCardCaro = swiperBox */
    #hotel.contents .horzCardCaro {
        border-width: 0;
        height: 280px;
    }

    /* 캐러셀 박스 = horzCardCaro */
    #hotel.contents .swiperBox {
        align-items: stretch;
        flex-flow: column wrap;
        background-color: #fff;
        overflow: auto;
    }

    /* 캐러셀 박스 : hotel : overview : 부대시설 */
    #hotel.contents #facility.hotelOverviewCaro .swiperBox {
        width: 120%;
        margin-left: -20%;
    }

    /* 이미지 캐러셀:roomtype(객실), dining(다이닝) */
    #hotel.contents .swiper-img-container {
        width: 52%;
        height: 100%;
        box-shadow: 0 0 24px rgba(113, 101, 101, 0.723);
    }

    /* 이미지 캐러셀:facility(부대시설) */
    #hotel.contents #facility .swiper-img-container {
        width: 60%;
    }


    #hotel.contents .swiper-slide {}


    #hotel.contents .img-wrap {
        height: 100%;
    }

    #hotel.contents span.swiper-img-pagination {
        display: none;
    }

    /* 모바일 사이즈의 설명부분 (이미지 스와이퍼 내 card-body) */
    #hotel.contents .swiper-img-container .card-body {
        display: none;
    }


    /* 캐러셀 전체 설명 titleBox */
    #hotel.contents .titleBox.m {
        display: none;
    }

    /* 캐러셀 titleBox : roomtype(객실), dining(다이닝) */
    #hotel.contents .titleBox.pc {
        width: 48%;
        height: 70%;
        display: block;
        /* border: 3px solid salmon; */
        box-sizing: border-box;
        padding: 20px 20px 0 40px;
    }

    /* 캐러셀 titleBox:facility(부대시설) */
    #hotel.contents #facility .titleBox.pc {
        width: 40%;
    }



    /* 캐러셀 전체 설명 titleBox : title */
    #hotel.contents .titleBox.pc h4.title {
        font-size: 24px;
        font-weight: 300;
        color: var(--color-primary);
        line-height: 36px;
    }

    /* 캐러셀 전체 설명 titleBox : 설명부분(desc) */
    #hotel.contents .titleBox.pc p.desc {
        font-size: 12px;
        color: #666;
        line-height: 20px;
    }

    #hotel.contents .titleBox.pc p.viewMore {
        margin-top: 12px;
    }

    #hotel.contents .titleBox.pc p.viewMore>* {
        font-weight: 400;
    }

    #hotel.contents .titleBox.pc p.viewMore span:hover {
        text-decoration: underline;
    }


    /* 텍스트 캐러셀:roomtype(객실), dining(다이닝) */
    #hotel.contents .swiper-text-container {
        display: block;
        width: 48%;
        height: 30%;
        /* border: 3px solid blueviolet; */
        /* background-color: #fff; */
    }

    /* 텍스트 캐러셀:facility(부대시설) */
    #hotel.contents #facility .swiper-text-container {
        width: 40%;
    }

    #hotel.contents .swiper-text-wrapper {
        /* border: 3px solid limegreen; */
        align-items: stretch;
        justify-content: stretch;
        height: 100% !important;
    }

    #hotel.contents .swiper-text-container .swiper-slide {
        /* width: 50%; */
        /* border: 1px solid pink; */
        box-sizing: border-box;
        width: 100%;
        flex: 1 0 100%;
        padding: 0px 20px 10px 40px;
    }

    /* 텍스트 스와이퍼 내부 텍스트 스타일 */
    #hotel.contents .swiper-text-container .swiper-slide h5.card-title {
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
        pointer-events: none;
    }

    #hotel.contents .swiper-text-container .swiper-slide p.card-text {
        font-size: 12px;
        color: #999;
        line-height: 20px;
    }

    #hotel.contents .swiper-text-container .animate__animated {
        --animate-duration: 800ms
    }

    #hotel.contents section.hotelOverviewCaro .swiper-pagination {
        display: block;
    }


    /* 호텔 : overview : 캐러셀 parellal Rectangle */
    section.contents:has(.bgRect){
        overflow: hidden !important;
    }
    #hotel.contents .bgRect {
        width: 30%;
        height: 200px;
        position: absolute;
        background-color: #d8d6d3;
        right: 75%;
        /* margin-top: -10%; */
        z-index: -100;
    }

    #hotel.contents #roomtype .bgRect {
        width: 30%;
        height: 200px;
        background-color: #d8d6d3;
        right: 75%;
    }

    #hotel.contents #dining .bgRect {
        width: 50%;
        height: 350px;
        background-color: #d8d6d3;
        left: 80%;
    }

    #hotel.contents #facility .bgRect {
        width: 90%;
        height: 350px;
        background-color: #d8d6d3;
        right: 50%;
    }




    /* 240813 추가 : 호버시 이미지 사이즈 up */
    img.sizeup{
        width: 100%;
        transition: transform 1s ease;
        overflow-y: hidden;
    }
    img.sizeup:hover{
        transform: scale(1.07);
    }
    .img-wrap{
        aspect-ratio: 16/9;
        z-index: 0;
    }

    div.card{
        overflow: hidden;
    }


    /* 호버시 사이즈업 : arttain : facility */
    ul.accoList .acco-body .card-body{
        height: 100%;
        background-color : #fff;
        padding: 2px 0 0;
        margin-top: -4px;
        z-index: 1;
    }













}

/**  태블릿  END  **/










/**************************************/
/**             laptop         **/
/**************************************/
@media screen and (min-width:992px) {


    /********************************** 랩탑:공통 **********************************/
    /********************************** 랩탑:공통 **********************************/
    /********************************** 랩탑:공통 **********************************/


    html,
    body {
        font-size: 14px;
    }

    body>.container {
        margin-top: 138px;
        padding-top: 60px;
    }


    /************************ 랩탑 : 헤더 **********************/
    /************************ 랩탑 : 헤더 **********************/
    /************************ 랩탑 : 헤더 **********************/
    header .pcMenu>ul.snb>li {
        font-size: 11px;
    }

    header .pcMenu>ul.snb select {
        font-size: 11px;
    }

    header .depth2bg.on {
        height: 300px;
    }

    /** 랩탑:헤더:subBar: 서브페이지 카테고리바 **/
    header .subBar {
        height: 88px;
    }






    /************************ 랩탑 : page **********************/
    /************************ 랩탑 : page **********************/
    /************************ 랩탑 : page **********************/
    section.page>.innerBox {
        padding: 0 0 60px 0;
    }


    /********************* 랩탑 : contents공통 *********************/
    /********************* 랩탑 : contents공통 *********************/
    /********************* 랩탑 : contents공통 *********************/




    /******* 랩탑 : contents공통 : Swiper 캐러셀 양식 ********/
    /******* 랩탑 : contents공통 : Swiper 캐러셀 양식 ********/
    .swiper.car .swiper-wrapper {
        height: 50vh;
    }

    /******* 랩탑 : contents공통 : Swiper 캐러셀 양식 ********/
    /******* 랩탑 : contents공통 : Swiper 캐러셀 양식 ********/
    /* 탭페이지 > 캐러셀 하단 설명부분 */

    .tabs-page .info .title {
        font-weight: 700;
        font-size: 16px;
    }

    .tabs-page .info .desc,
    .tabs-page .info .subDesc {
        font-size: 14px;
        font-weight: 400;
    }

    .tabs-page .info .subTitle {
        font-size: 16px;
        padding-bottom: 10px;
    }


    /**************** 랩탑 : contents : hotel 객실 리스트 ****************/
    /**************** 랩탑 : contents : hotel 객실 리스트 ****************/
    /**************** 랩탑 : contents : hotel 객실 리스트 ****************/


    .roomtype .swiperBox {
        height: 430px;
    }


    /* 이미지 크기 결정요소 */
    .roomtype .swiper-img-container {
        /* height: 40vh; */
        height: 430px;
        width: calc(100% - 300px);
    }

    .roomtype .swiper .swiper-wrapper {
        height: 100%;
    }

    .roomtype .swiper-text-container {
        width: 300px;
    }

    .roomtype li.swiper-slide {
        padding: 40px 30px;
    }

    .roomtype li.swiper-slide dl {
        margin-top: 40px;
    }

    /******* 랩탑 : contents공통 : accoList : 아코디언양식(jquery ui) ********/
    /******* 랩탑 : contents공통 : accoList : 아코디언양식(jquery ui) ********/
    ul.accoList .acco-body .card-body p.card-text {
        font-size: 14px;
        line-height: 18px;
    }

    small.sm-999 {
        font-size: 11px;
        padding-top: 14px;
    }

    small.sm-red {
        font-size: 11px;
    }

    .fcList .card-title {
        font-size: 16px;
    }


    /********************* 랩탑 : overview *********************/
    /********************* 랩탑 : overview *********************/
    /********************* 랩탑 : overview *********************/

    /*********** 랩탑 : overview : full-screen ***********/
    /*********** 랩탑 : overview : full-screen ***********/
    /* overview : full-screen 섹션 위치 */
    .full-screen {
        /* height: calc(100vh - 126px); */
        height: calc(100vh - 137px);
        /* top:-40px; */
        top: -60px;
    }


    .full-screen h2.category {
        font-size: 56px;
        font-weight: 500;
        line-height: 66px;

    }

    .full-screen p.desc {
        font-size: 16px;
        line-height: 26px;
    }



    /*********** 태블릿 : overview : hotel : 캐러셀 ***********/
    /*********** 태블릿 : overview : hotel : 캐러셀 ***********/

    /* 캐러셀 박스 =  .horzCardCaro = swiperBox */
    #hotel.contents .horzCardCaro {
        /* border-width: 0; */
        height: 310px;
    }


    /* 캐러셀 전체 설명 titleBox : title */
    #hotel.contents .titleBox.pc h4.title {
        font-size: 26px;
        line-height: 42px;
    }
    
    /* 캐러셀 전체 설명 titleBox : 설명부분(desc) */
    #hotel.contents .titleBox.pc p.desc {
        font-size: 14px;
        color: #666;
        line-height: 24px;
    }

    /* 텍스트 스와이퍼 내부 텍스트 스타일 */
    #hotel.contents .swiper-text-container .swiper-slide h5.card-title {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        pointer-events: none;
    }

    #hotel.contents .swiper-text-container .swiper-slide p.card-text {
        font-size: 14px;
        color: #999;
        line-height: 24px;
    }
    
    
    #hotel.contents section.hotelOverviewCaro .swiper-pagination{
        display: block;
      }
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    

}

/**  노트북  END  **/



/**************************************/
/**             데스크탑         **/
/**************************************/
@media screen and (min-width:1200px) {

    html,
    body {
        font-size: 14px;
    }





    section.contents>.innerBox,
    section.page>.innerBox,
    .footer .upside .innerBox,
    .footer .downside .innerBox {
        max-width: 1152px;
    }


    /********************* 데스크탑 : contents공통 *********************/
    /********************* 데스크탑 : contents공통 *********************/
    /********************* 데스크탑 : contents공통 *********************/




    /******* 데스크탑 : contents공통 : Swiper 캐러셀 양식 ********/
    /******* 데스크탑 : contents공통 : Swiper 캐러셀 양식 ********/
    .swiper.swiper-wrapper {
        height: 60vh;
        max-height: 496px;
    }


    /**************** 데스크탑 : contents : hotel 객실 리스트 ****************/
    /**************** 데스크탑 : contents : hotel 객실 리스트 ****************/
    /**************** 데스크탑 : contents : hotel 객실 리스트 ****************/


    .roomtype .swiperBox {
        height: 467px;
    }


    /* 이미지 크기 결정요소 */
    .roomtype .swiper-img-container {
        /* height: 40vh; */
        height: 467px;
        width: calc(100% - 350px);
    }

    .roomtype .swiper .swiper-wrapper {
        height: 100%;

    }

    .roomtype .swiper-text-container {
        width: 350px;
    }

    .roomtype li.swiper-slide {
        padding: 40px 30px;
    }


    /*********** 데스크탑 : overview : hotel : 캐러셀 ***********/
    /*********** 데스크탑 : overview : hotel : 캐러셀 ***********/

    /* 캐러셀 박스 =  .horzCardCaro = swiperBox */
    #hotel.contents .horzCardCaro {
        /* border-width: 0; */
        height: 344px;
    }





    /********************* 데스크탑 : footer *********************/
    /********************* 데스크탑 : footer *********************/
    /********************* 데스크탑 : footer *********************/





    .footer .upside,
    .footer .downside {
        width: 100%;
    }

    .footer .upside .innerBox,
    .footer .downside .innerBox {
        margin: 0 auto;
    }



}